# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.*
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfvars

# SSH keys
.ssh/

# Kubernetes
.kube/
k8s/secrets.yaml

# Generated
setup-env.sh

# Local development
local/devctl
local/vcli
local/cluster.yaml
local/vault.env
local/configs/vault.env
local/test-*.json
local/configs/docker-compose.yaml
local/configs/*.vult

# OS
.DS_Store

# IDE
.idea/
.vscode/
